h2.t2-rose {
    background-color: rgb(255, 133, 154);
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    width: 250px;
}

h2.t2-rose span {
    background-color: rgb(255, 56, 89);
    display: inline-block;
    font-size: 25px;
    padding: 15px;
}

P {
    font-weight: 800;
    font-size: 1.8em;
    line-height: 2;
}

.titi {
    font-weight: 800;
    font-size: 50px;
    line-height: 4;
    padding: 15px;
}

li {
    font-size: 17px;
    line-height: 2;
    font-weight: 800;
}

h2.t2-himawari {
    background-color: #f5cb5c;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    width: 250px;
}

h2.t2-himawari span {
    background-color: #ffaa00;
    display: inline-block;
    font-size: 25px;
    padding: 15px;
}

.ml15 {
    font-weight: 800;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}